node_modules
.next
dist
build
.turbo
.DS_Store
.env*
supabase/.branches
supabase/.temp
apps/**/.expo
apps/**/.expo-shared

# Playwright outputs and test artifacts
apps/web/playwright-report/
apps/web/test-results/
apps/web/test-artifacts/


# Storybook build artifacts
apps/web/storybook-static/
